version: '3.8'

volumes:
  pg_data:
  static_volume:
  backend_media_volume:

services:
  db:
      image: postgres:13.3-alpine
      container_name: foodgram-db
      env_file:
        - ../backend/.env
      volumes:
        - pg_data:/var/lib/postgresql/data
  backend:
    container_name: foodgram-backend
    build:
      context: ../backend/
      dockerfile: Dockerfile
    env_file:
      - ../backend/.env
    volumes:
      - static_volume:/app/static/
      - backend_media_volume:/app/media/
      - ../data:/app/fixtures
    networks:
      - foodgram-network
    depends_on:
      - db

  frontend:
    container_name: foodgram-front
    build: ../frontend
    volumes:
      - static_volume:/app/result_build/
    networks:
      - foodgram-network

  nginx:
    container_name: foodgram-proxy
    image: nginx:1.25.4-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_volume:/usr/share/nginx/html/static
      - backend_media_volume:/usr/share/nginx/html/media/
    depends_on:
      - backend
    networks:
      - foodgram-network

networks:
  foodgram-network:
    driver: bridge